/build
!toluapp/build
.vscode
_bin
proto/*.cc
proto/*.h
proto/*.cs
!proto/*map.h
!proto/*map.cc
logger

/unity_client/moba_client/[Ll]ibrary/
/unity_client/moba_client/[Tt]emp/
/unity_client/moba_client/[Oo]bj/
/unity_client/moba_client/[Bb]uild/
/unity_client/moba_client/[Bb]uilds/
/unity_client/moba_client/[Ll]ogs/
/unity_client/moba_client/[Uu]ser[Ss]ettings/
!/[Aa]ssets/**/*.meta
